<a href="https://colab.research.google.com/github/ricardocarreras/Bootcamp_DataScience_student/blob/master/recomendadorpelis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd   # Tratamiento dataframes
import numpy as np # Mates
import matplotlib.pyplot as plt #Gráficas
import seaborn as sns #Gráficas aún más chulas
import scipy # Estadísticas, ciencia
import os

nombre_fichero = "/content/Peliculas-220318-180251 (1).csv"

pelis=pd.read_csv(nombre_fichero, sep=",")


pelis.shape
pelis.head(11)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller
10,11,"American President, The (1995)",Comedy|Drama|Romance

In [ ]:
pelis["movieId"]=pd.to_numeric(pelis["movieId"])

In [ ]:
nombre_fichero2 = "/content/Clasificacion-220318-180251 (1).csv"

clasi=pd.read_csv(nombre_fichero2)

clasi.head()

clasi.shape

(100836, 4)

In [ ]:
clasi.dtypes

userId         int64
movieId        int64
rating       float64
timestamp      int64
dtype: object

In [ ]:

datosjuntos=pd.merge(pelis, clasi)

datosjuntos.shape

(100836, 6)

In [ ]:
datosjuntos2=datosjuntos.pivot_table(index=["userId"], columns=["title"], values="rating")

datosjuntos2.head()

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
clasificacion_toystory=datosjuntos2["Toy Story (1995)"]

In [ ]:
datosjuntos2["Toy Story (1995)"]

userId
1      4.0
2      NaN
3      NaN
4      NaN
5      4.0
      ...
606    2.5
607    4.0
608    2.5
609    3.0
610    5.0
Name: Toy Story (1995), Length: 610, dtype: float64

In [ ]:
similarpeliculas=datosjuntos2.corrwith(clasificacion_toystory)

/usr/local/lib/python3.7/dist-packages/numpy/lib/function_base.py:2683: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
/usr/local/lib/python3.7/dist-packages/numpy/lib/function_base.py:2542: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

In [ ]:
similarpeliculas.head()

title
'71 (2014)                                NaN
'Hellboy': The Seeds of Creation (2004)   NaN
'Round Midnight (1986)                    NaN
'Salem's Lot (2004)                       NaN
'Til There Was You (1997)                 NaN
dtype: float64

In [ ]:
corr_similarpeliculas=pd.DataFrame(similarpeliculas, columns=["Correlaciones"])

corr_similarpeliculas=corr_similarpeliculas.dropna()

corr_similarpeliculas.sort_values("Correlaciones", ascending=False)

corr_similarpeliculas_=corr_similarpeliculas.sort_values("Correlaciones", ascending=False).reset_index()

corr_similarpeliculas_

                                                  title  Correlaciones
0     Land Before Time III: The Time of the Great Gi...            1.0
1                   Faster Pussycat! Kill! Kill! (1965)            1.0
2                                          Amen. (2002)            1.0
3        Machine Girl, The (Kataude mashin gâru) (2008)            1.0
4                                    Waydowntown (2000)            1.0
...                                                 ...            ...
4762                               In a World... (2013)           -1.0
4763                                    The Drop (2014)           -1.0
4764                                   Mo' Money (1992)           -1.0
4765                        Truly, Madly, Deeply (1991)           -1.0
4766                      I Was a Male War Bride (1949)           -1.0

[4767 rows x 2 columns]

In [ ]:
listaa=datosjuntos.genres.unique()
lista=[]
for i in range(len(listaa)):
    lista=lista+listaa[i].split("|")

In [ ]:
lista=list(set(lista))

for i in lista:
    datosjuntos[i]=datosjuntos.genres.str.contains(i)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  after removing the cwd from sys.path.

In [ ]:
datosjuntos.tail()

,movieId,title,genres,userId,rating,timestamp,(no genres listed),Mystery,Horror,Animation,...,Fantasy,Children,Adventure,Musical,Documentary,Sci-Fi,Film-Noir,War,Action,Drama
100831,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,184,4.0,1537109082,False,False,False,True,...,True,False,False,False,False,False,False,False,True,False
100832,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,184,3.5,1537109545,False,False,False,True,...,True,False,False,False,False,False,False,False,False,False
100833,193585,Flint (2017),Drama,184,3.5,1537109805,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
100834,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,184,3.5,1537110021,False,False,False,True,...,False,False,False,False,False,False,False,False,True,False
100835,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,331,4.0,1537157606,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
datosjuntos_aux=datosjuntos.drop_duplicates(subset="title")

datosjuntos_aux.head()

,movieId,title,genres,userId,rating,timestamp,(no genres listed),Mystery,Horror,Animation,...,Fantasy,Children,Adventure,Musical,Documentary,Sci-Fi,Film-Noir,War,Action,Drama
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703,False,False,False,True,...,True,True,True,False,False,False,False,False,False,False
215,2,Jumanji (1995),Adventure|Children|Fantasy,6,4.0,845553522,False,False,False,False,...,True,True,True,False,False,False,False,False,False,False
325,3,Grumpier Old Men (1995),Comedy|Romance,1,4.0,964981247,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
377,4,Waiting to Exhale (1995),Comedy|Drama|Romance,6,3.0,845554349,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
384,5,Father of the Bride Part II (1995),Comedy,6,5.0,845553938,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
df=corr_similarpeliculas_.merge(datosjuntos_aux, how="left")
df=df.drop(columns=["movieId", "genres", "userId", "rating", "timestamp"])

df.head()

,title,Correlaciones,(no genres listed),Mystery,Horror,Animation,Comedy,Western,IMAX,Crime,...,Fantasy,Children,Adventure,Musical,Documentary,Sci-Fi,Film-Noir,War,Action,Drama
0,Land Before Time III: The Time of the Great Gi...,1.0,False,False,False,True,False,False,False,False,...,False,True,True,True,False,False,False,False,False,False
1,Faster Pussycat! Kill! Kill! (1965),1.0,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,True,True
2,Amen. (2002),1.0,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,"Machine Girl, The (Kataude mashin gâru) (2008)",1.0,False,False,True,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
4,Waydowntown (2000),1.0,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False