In [1]:
# Importamos las librerías
from google.cloud import bigquery
from google.oauth2 import service_account
import pandas as pd

In [2]:
# Vinculamos las credenciales del bigquery
creds = service_account.Credentials.from_service_account_file('idbootcamps-project-2022-3f1e7cbf3799.json')

In [3]:
# Realizamos la conexión con el cliente bigquery
client = bigquery.Client(credentials=creds)

In [4]:
# Creamos la primera query ESTADO
query_1 = """
SELECT
    state as estado
FROM `bigquery-public-data.samples.natality`
WHERE
    state IS NOT NULL
GROUP BY
    estado
ORDER BY
    estado

"""

In [5]:
# Lanzamos el job
query_job = client.query(query_1)
df = query_job.to_dataframe()
df

   estado
0      AK
1      AL
2      AR
3      AZ
4      CA
5      CO
6      CT
7      DC
8      DE
9      FL
10     GA
11     HI
12     IA
13     ID
14     IL
15     IN
16     KS
17     KY
18     LA
19     MA
20     MD
21     ME
22     MI
23     MN
24     MO
25     MS
26     MT
27     NC
28     ND
29     NE
30     NH
31     NJ
32     NM
33     NV
34     NY
35     OH
36     OK
37     OR
38     PA
39     RI
40     SC
41     SD
42     TN
43     TX
44     UT
45     VA
46     VT
47     WA
48     WI
49     WV
50     WY

In [6]:
type(df)

pandas.core.frame.DataFrame